* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: url(../images/background-image.jpg) no-repeat center center / cover;
}

/* header */
header {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

#heading {
    font-weight: 900;
    font-size: 1.5rem;
    color: #ffffff;
}

/* main content */
main {
    flex: 1 0 auto;
    margin: 1rem;
    padding: 1rem;
    background-color: #ffffff;
    opacity: 0.6;
}

.game-content {
    margin-top: 3.5rem;
}

/* Buttons */

#instructions {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
}

.button {
    background-color: saddlebrown;
    color: #ffffff;
    border: 2px solid black;
    border-radius: 5px;
    padding: 2px;
    width: 10rem;
    font-size: 1rem;
    margin: 0.1rem;
}

.button:hover {
    background-color: rgb(177, 89, 25);
    transform: scale(1.1);
}

#game-controls {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    width: 3rem;
    height: 2rem;
}

/* Results */
.game-results {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

.result-image {
    width: 100px;
    height: 100px;
}

/* Score */
.score-area {
    display: flex;
    justify-content: space-around;
    font-size: 0.75rem;
    margin-top: 1rem;
}

/* footer */
footer {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
    color: #ffffff;
    font-size: 0.6rem;
}