* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: url(../images/background-image.jpg) no-repeat center center / cover;
}

/* header */
header {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

#heading {
    font-weight: 900;
    font-size: 1.5rem;
    color: #ffffff;
}

/* main content */
main {
    flex: 1 0 auto;
    margin: 1rem;
    padding: 1rem;
    background-color: #ffffff;
    opacity: 0.6;
}

.game-content {
    margin-top: 4rem;
}

/* Modal box for instructions */

#my-modal {
    /* display: none; */
    position: fixed;
    z-index: 1;
    width: 85%;
    height: auto;
    overflow: auto;
    background-color: rgb(177, 89, 25);
    color: #ffffff;
    border: 2px solid black;
}

#modal-content {
    padding: 10px;
}

#close {
    float: right;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Buttons */

.button-div {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button {
    background-color: saddlebrown;
    color: #ffffff;
    border: 3px solid black;
    border-radius: 5px;
    padding: 2px;
    width: 13rem;
    height: auto;
    font-size: 1.3rem;
    margin: 0.1rem;
}

.button:hover {
    background-color: rgb(177, 89, 25);
    transform: scale(1.1);
}

/* Results */
.game-results {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

.result-image {
    width: 120px;
    height: auto;
}

/* Score */
.score-area {
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    margin-top: 1rem;
}

/* footer */
footer {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
    color: #ffffff;
    font-size: 0.6rem;
}

@media screen and (min-width:375px) {
    #heading {
        font-size: 1.75rem;
    }

    .button {
        width: 14rem;
        font-size: 1.4rem;
    }

    .result-image {
        width: 135px;
    }
}

@media screen and (min-width:425px) {
    #heading {
        font-size: 2rem;
    }

    .button {
        width: 15rem;
        font-size: 1.5rem;
    }

    .result-image {
        width: 150px;
    }
}

@media screen and (min-width:582px) {
    .button {
        width: 9rem;
    }

    .result-image {
        width: 225px;
    }

    .score-area {
        font-size: 1.5rem;
    }
}

@media screen and (min-width:768px) {
    #heading {
        font-size: 3rem;
    }

    .button {
        width: 10rem;
    }

    .result-image {
        width: 235px;
    }

    .score-area {
        font-size: 2rem;
    }
}